.App {
  text-align: center;
}

.data-area-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.iconText {
  margin: 0 .5rem
}

.navbarStyle {
  padding: .5rem 1rem
}

.navbarButton {
  color: #fff !important
}
